<header>
    <nav>
        <a href="/"><button><img src="/images/Inicio.png" alt=""> Inicio</button></a>
        <a href="/SobreMi"><button><img src="/images/SobreMi.png" alt=""> Sobre Mi</button></a>
        <a href="/Educacion"><button><img src="/images/Educacion.png" alt=""> Educación</button></a>
        <a href="/Habilidades"><button><img src="/images/abilidades.png" alt=""> Habilidades</button></a>
        <a href="/Proyectos"><button><img src="/images/Proyectos.png" alt=""> Proyectos</button></a>
        <a href="/Contacto"><button><img src="/images/Contacto.png" alt=""> Contactos</button></a>
    </nav>
</header>