<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habilidades</title>
    <link rel="stylesheet" href="./assets/CSS/normalize.css">
    <link rel="stylesheet" href="./assets/CSS/headers.css">
    <link rel="stylesheet" href="./assets/CSS/habilidades.css">
</head>

<body>

    {{>header}}
    <h1>HABILIDADES</h1>
    <div class="slideshow-contenedor">
        <div class="slide">
            <h4>C Sharp</h4>
            <img src="/images/csharp.svg" alt="" class="umg">
            <p>Porcentaje de Manejo de c#</p>
            <br>
            <div class="progress-bar">
                <div class="green-progress"></div>
                <div class="gray-progress"></div>
                <span>50%</span>
            </div>
        </div>
        <div class="slide">
            <h4>Microsoft SQL Server</h4>
            <img src="/images/slq.svg" alt="" class="INDE">
            <p>Porcentaje De Manejo de Sql Server</p><br>
            <div class="progress-bar-sql">
                <div class="green-progress-sql"></div>
                <div class="gray-progress-sql"></div>
                <span>60%</span>
            </div>
        </div>
        <div class="slide">
            <h4>C++</h4>
            <img src="/images/C++.png" alt="" class="Ingles">
            <p>Porcentaje De Manejo de C++</p><br>
            <div class="progress-bar">
                <div class="green-progress"></div>
                <div class="gray-progress"></div>
                <span>50%</span>
            </div>
        </div>
        <div class="slide">
            <h4>JavaScript</h4>
            <img src="/images/js.png" alt="" class="intecap">
            <p>Porcentaje De Manejo de JavaScript</p><br>
            <div class="progress-bar">
                <div class="green-progress"></div>
                <div class="gray-progress"></div>
                <span>50%</span>
            </div>
        </div>
        <div class="slide">
            <h4>CSS 3</h4>
            <img src="/images/css.png" alt="" class="intecap">
            <p>Porcentaje De Manejo de CSS</p><br>
            <div class="progress-bar-css">
                <div class="green-progress-css"></div>
                <div class="gray-progress-css"></div>
                <span>75%</span>
            </div>
        </div>
        <div class="slide">
            <h4>HTML 5</h4>
            <img src="/images/html.png" alt="" class="intecap">
            <p>Porcentaje De Manejo de HTML</p><br>
            <div class="progress-bar-html">
                <div class="green-progress-html"></div>
                <div class="gray-progress-html"></div>
                <span>80%</span>
            </div>
        </div>
        <div class="slide">
            <h4>Boosrtrap</h4>
            <img src="/images/bootstrap.png" alt="" class="intecap">
            <p>Porcentaje De Manejo de Boostrap</p><br>
            <div class="progress-bar-b">
                <div class="green-progress-b"></div>
                <div class="gray-progress-b"></div>
                <span>50%</span>
            </div>
        </div>
        <div class="slide">
            <h4>Otras Tecnologias</h4>
            <img src="/images/node.png" alt="" class="node">
            <img src="/images/mongo.png" alt="" class="mongo">
            <p>MongoDB</p>
            <P>NodeJS</P>
            <p>Porcentaje De Manejo</p><br>
            <div class="progress-bar-o">
                <div class="green-progress-o"></div>
                <div class="gray-progress-o"></div>
                <span>25%</span>
            </div>
        </div>
        <div class="slide">
            <h1>Habilidades Personales</h1>
            <p>Buena comunicacion</p>
            <p>Enseñable</p>
            <p>Paciente</p>
            <h1>Idiomas</h1>
            <p>Kaqchikel: Nativo</p>
            <p>Español: Nativo</p>
            <p>Ingles:</p>
            <div class="progress-bar-ingles">
                <div class="green-progress-ingles"></div>
                <div class="gray-progress-ingles"></div>
                <span>70%</span>
            </div>
        </div>
    </div>
    <button class="anterior">&#10094;</button>
    <button class="siguiente">&#10095;</button>
    <script src="./assets/JS/educacion.js"></script>


    {{>footer}}
</body>

</html>