<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora MRU Y MRUV</title>
    <link rel="stylesheet" href="assets/CSS/normalize.css">
    <link rel="stylesheet" href="assets/CSS/headers.css">
    <link rel="stylesheet" href="assets/CSS/proyecto3.css">

</head>

<body>

    {{>header}}
    <section><br>
        <div class="caracteristicas"><br>
            <h1>Calculadora MRU Y MRUV</h1>
            <p>La Calculadora de MRU y MRUV es una aplicación web interactiva que proporciona a los usuarios una manera
                rápida y efectiva de resolver cálculos relacionados con el movimiento en línea uniforme y movimiento
                rectilineo uniformemente variable.
            </p><br>

        </div><br>
        <div class="contenedor1">
            <div class="carousel">
                <img src="/images/Imagen1MRU.png" alt="" class="img1">
                <img src="/images/Imagen2MRU.png" alt="" class="img2">
                <img src="/images/Imagen3MRU.png" alt="" class="img1">
                <img src="/images/Imagen4mruv.png" alt="" class="img2">
                <img src="/images/Imagen5mruv.png" alt="" class="img1">
                <img src="/images/Imagen6mruv.png" alt="" class="img2">
            </div>
            <button id="prevBtn">&#10094;</button>
            <button id="nextBtn">&#10095;</button>
        </div><br>
        <div class="caracteristicas"><br>
            <h2>Caracteristicas :</h2>
            <p>
            <ol>

                <li>Cálculos de MRU: La aplicación te permite calcular la velocidad, la distancia y el tiempo en un
                    Movimiento Rectilíneo
                    Uniforme. Puedes ingresar dos de los valores y la calculadora te proporcionará el tercero
                </li>
                <li>Explicaciones y Fórmulas: Además de proporcionar resultados numéricos, la aplicación ofrece
                    explicaciones detalladas de
                    los pasos necesarios para resolver cada tipo de problema. Esto ayuda a los usuarios a comprender los
                    conceptos detrás de
                    los cálculos.
                </li>
                <li>Educación y Aprendizaje: La aplicación es una valiosa herramienta educativa para estudiantes que
                    estudian física en la
                    escuela secundaria o la universidad. También es útil para profesores que deseen ilustrar conceptos
                    de
                    movimiento y para
                    cualquier persona interesada en explorar la física del movimiento.
                </li>

            </ol>
            </p>
            <h2>Tecnologias Usadas</h2>
            <p>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
            </ul>
            </p><br>


        </div>

    </section>
    <script src="./assets/JS/carusel.js"></script>


    {{>footer}}
</body>

</html>