<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estructura de Datos</title>
    <link rel="stylesheet" href="assets/CSS/normalize.css">
    <link rel="stylesheet" href="assets/CSS/headers.css">
    <link rel="stylesheet" href="assets/CSS/proyecto3.css">
</head>

<body>

    {{>header}}
    <section><br>
        <div class="caracteristicas"><br>
            <h1>Estructura de Datos</h1>
            <p>Es una "Aplicacion de consola de Estructura de Datos Interactivo" que combina una cola, una pila, un
                árbol
                binario de
                búsqueda (ABB) y
                un árbol AVL para organizar y gestionar datos de manera eficiente. La característica principal de este
                programa es que
                permite a los usuarios ingresar datos y elegir cómo desean que se almacenen y muestren, ya sea como una
                cola, una pila,
                un ABB o un árbol AVL.
            </p><br>
        </div><br>

        <div class="contenedor1">
            <div class="carousel">
                <img src="/images/Imagen1-pro5.png" alt="" class="img1">
                <img src="/images/Imagen2-pro5.png" alt="" class="img2">
                <img src="/images/Imagen3-pro5.png" alt="" class="img1">
                <img src="/images/Imagen4-pro5.png" alt="" class="img2">
                <img src="/images/Imagen5-pro5.png" alt="" class="img1">
                <img src="/images/Imagen6-pro5.png" alt="" class="img2">
            </div>
            <button id="prevBtn">&#10094;</button>
            <button id="nextBtn">&#10095;</button>
        </div><br>
        <div class="caracteristicas"><br>
            <h2>Caracteristicas :</h2>
            <p>
            <ol>
                <li>El programa cuenta con un CRUD permite modificar datos ,insertar datos,eliminar datos en las
                    opciones de
                    pila y cola.
                </li>

                <li>El programa cuenta con una interfaz de usuario intuitiva que permite a los usuarios ingresar datos y
                    seleccionar la
                    estructura de datos en la que desean organizarlos
                </li>
                <li>Los usuarios pueden ajustar las configuraciones de las estructuras de datos, como establecer un
                    tamaño
                    máximo para la
                    cola o la pila.
                </li>
                <li>Educación y Aprendizaje: La aplicación es una valiosa herramienta educativa para estudiantes que
                    estudian física en la
                    escuela secundaria o la universidad. También es útil para profesores que deseen ilustrar conceptos
                    de
                    movimiento y para
                    cualquier persona interesada en explorar la física del movimiento.
                </li>

            </ol>
            </p>
            <h2>Tecnologias Usadas</h2>
            <p>
            <ul>
                <li>C++</li>
            </ul>
            </p><br>


        </div>
    </section>
    <script src="./assets/JS/carusel.js"></script>


    {{>footer}}
</body>

</html>