<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos</title>
    <link rel="stylesheet" href="assets/CSS/normalize.css">
    <link rel="stylesheet" href="assets/CSS/headers.css">
    <link rel="stylesheet" href="assets/CSS/proyectos.css">

</head>

<body>

    {{>header}}
    <h1>Proyectos</h1>
    <main class="grid-container">
        <div class="proyecto">
            <a href="/Proyecto1"><img src="/images/inscripicon.png" alt="" class="img1"></a>
            <p class="titulo">Inscripcion de Alumnos</p>
        </div>
        <div class="proyecto">
            <a href="/proyecto2"><img src="/images/codigo1.png" alt="" class="img1"></a>
            <p class="titulo">Analizador Lexico</p>
        </div>
        <div class="proyecto">
            <a href="/Proyecto3"><img src="/images/Herramientas.png" alt="" class="img1"></a>
            <p class="titulo">Herramientas Monitoreo de Sistema</p>
        </div>
        <div class="proyecto">
            <a href="/Proyecto4"><img src="/images/MRU_icono.png" alt="" class="img1"></a>
            <p class="titulo">Calculadora MRU Y MRUV</p>
        </div>
        <div class="proyecto">
            <a href="/Proyecto5"><img src="/images/datos.png" alt="" class="img1"></a>
            <p class="titulo">Estructura de Datos</p>
        </div>
        <div class="proyecto">
            <a href="/proyecto6"><img src="/images/tabla.png" alt="" class="img1"></a>
            <p class="titulo">Aplicacion Yargs</p>
        </div>
        <div class="proyecto">
            <a href="/proyecto7"><img src="/images/proyecto7.png" alt="" class="img1"></a>
            <p class="titulo">Restserver</p>
        </div>


    </main>


    {{>footer}}

</body>

</html>