<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SobreMi</title>
    <link rel="stylesheet" href="assets/CSS/normalize.css">
    <link rel="stylesheet" href="assets/CSS/headers.css">
    <link rel="stylesheet" href="assets/CSS/Sobremi.css">
</head>

<body>

    {{>header}}
    <section>
        <img src="/images/MIFOTO.jpg" alt="" class="mifoto">
        <div>
            <h1>FRANCISCO ALFREDO COJ SULUGUI</h1>
            <p class="parrafo1">
                Me considero una persona responsable dinámica y creativa con
                facilidad de adaptación y capacidad de trabajar en equipo , con iniciativa
                de resolver problemas eficientemente y lograr las meta y
                objetivos trazados.
            </p>

        </div>
    </section>

    {{>footer}}


</body>

</html>