body {
  background-image: url("/images/desktop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-style: italic;
  font-weight: 900;
  font-size: 50px;
  color: rgb(31, 28, 28);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

main {
  height: 200%;
  padding-top: 10%;
  padding-bottom: 25%;
}
footer {
  padding-top: 2%;
  box-shadow: 0px -10px 15px -5px rgba(0, 0, 0, 0.3);
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  text-align: center;
  background-color: rgba(61, 243, 213, 0.387);
  padding: 2%;
}
