h1 {
  margin-top: 50px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: white;
}

body {
  background-image: url("/images/coding.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.img1 {
  position: relative;
  left: 5px;
  margin-top: 10%;
  width: 100px;
  height: 100px;
  align-self: center;
  overflow: auto;
}

main {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2;
  gap: 30px;
  margin-left: 5%;
  margin-right: 5%;
}

.proyecto {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.387);
  box-shadow: 5px 5px 5px rgb(55, 55, 55);
  margin: 3%;
  transition: transform 0.3s ease;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  height: 13rem;
}

.proyecto:hover {
  transform: scale(1.1);
}

.titulo {
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 100%;
  text-align: center;
}

footer {
  box-shadow: 0px -10px 15px -5px rgba(0, 0, 0, 0.3);
  margin-top: 7%;
  padding: 3%;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  text-align: center;
  background-color: rgba(61, 243, 213, 0.387);
}
